receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch: # 데이터를 묶어서 보내 효율성을 높임

exporters:
  # 트레이스 데이터 -> Tempo
  otlp/tempo:
    endpoint: "tempo:4317"
    tls:
      insecure: true
  
  # 메트릭 데이터 -> Prometheus
  prometheus:
    endpoint: "0.0.0.0:8889"
  
  # 로그 데이터 -> Loki
  otlphttp/loki:
    endpoint: "http://loki:3100/otlp" # Loki의 OTLP 수신 엔드포인트
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/loki]